APP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/ShanghaiHOST = www.xxx.testURL = http://www.xxx.testH5_URL = http://m.xxx.test[JWT]KEY = cmsEXP = 2592000HASH = HS256[DATABASE]TYPE = mysqlHOSTNAME = 127.0.0.1DATABASE = cmsUSERNAME = rootPASSWORD = rootHOSTPORT = 3306CHARSET = utf8mb4DEBUG = truePREFIX = cms_LIMIT = 10API_LIMIT = 20PAGE = 1[CACHE]DRIVER = redis[LANG]default_lang = zh-cn